<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1> 강현수가 만든 계산기 입니다.</h1>
    <form action="">
        <input type="text" name="num1"> 
        <select type="text" name="operators">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select> 
        <input type="text" name="num2">
       
        <input type="submit" >
        <br />
        결과값 ㅣ {{result}}
    </form>
</body>
</html>